<header>
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="/home">The Gossip Project</a>
     </div>
     <ul class="nav navbar-nav">
       <li class="active"><a href="/home">Home</a></li>
       <li><a href="/contact">Contact</a></li>
       <li><a href="/team">Team</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     </ul>
   </div>
  </nav>
</header>

<h1>Meet the only member of our Team :-) </h1>
<div class="card mb-3">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Boundzit GTKL</h5>
    <p class="card-text">Boundzit is blablabla.....</p>
    <p class="card-text"><small class="text-muted">boundzit@thegossipproject.com</small></p>
  </div>
</div>
